{% extends "mainpage/base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid">
        <div class="members row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/CSA.png' %}">
                    <div class="info">
                        <p><strong>John Doe</strong></p>
                        <span>
                            xxx@andrew.cmu.edu <br>
                            www.abc.com <br>
                            (412) 333-3333 <br>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/CSA.png' %}">
                    <div class="info">
                        <p><strong>John Doe</strong></p>
                        <span>
                            xxx@andrew.cmu.edu <br>
                            www.abc.com <br>
                            (412) 333-3333 <br>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/CSA.png' %}">
                    <div class="info">
                        <p><strong>John Doe</strong></p>
                        <span>
                            xxx@andrew.cmu.edu <br>
                            www.abc.com <br>
                            (412) 333-3333 <br>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/CSA.png' %}">
                    <div class="info">
                        <p><strong>John Doe</strong></p>
                        <span>
                            xxx@andrew.cmu.edu <br>
                            www.abc.com <br>
                            (412) 333-3333 <br>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
     $( document ).ready(function() {
      $("ul li:nth-child(4) > a").addClass('active');
       /* $('li > a').first().addClass('active');*/
     });
    </script>

{% endblock %}