{% extends "mainpage/base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid">
        <div class="members row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/people/president.png' %}">
                    <div class="info">
                        <p><strong>Tai Jin</strong></p>
                        <span>
                            President <br>
                            xxx@andrew.cmu.edu <br>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/people/tech.png' %}">
                    <div class="info">
                        <p><strong>Qifang Cai</strong></p>
                        <span>
                            Vice President of Tech and Support <br>
                            xxx@andrew.cmu.edu <br>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/people/admin.png' %}">
                    <div class="info">
                        <p><strong>Zhang Wang</strong></p>
                        <span>
                            Vice President of Administration
                            xxx@andrew.cmu.edu <br>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/people/membership.png' %}">
                    <div class="info">
                        <p><strong>Mengyao Wei</strong></p>
                        <span>
                            Vice President of Membership <br>
                            xxx@andrew.cmu.edu <br>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/people/design.png' %}">
                    <div class="info">
                        <p><strong>Min Zhou</strong></p>
                        <span>
                            Creative Director <br>
                            xxx@andrew.cmu.edu <br>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/people/finance.png' %}">
                    <div class="info">
                        <p><strong>Muyuan Li</strong></p>
                        <span>
                            Treasurer <br>
                            xxx@andrew.cmu.edu <br>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/people/internal.png' %}">
                    <div class="info">
                        <p><strong>Xuran He</strong></p>
                        <span>
                            Vice President of Internal Events <br>
                            xxx@andrew.cmu.edu <br>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/people/alumini.png' %}">
                    <div class="info">
                        <p><strong>Hanson Zeng</strong></p>
                        <span>
                            Vice President of Alumni <br>
                            xxx@andrew.cmu.edu <br>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/people/secretary.png' %}">
                    <div class="info">
                        <p><strong>Ninghao Sha</strong></p>
                        <span>
                            Secretary <br>
                            xxx@andrew.cmu.edu <br>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="member">
                    <img src="{% static 'mainpage/people/external.png' %}">
                    <div class="info">
                        <p><strong>Ximin Ding</strong></p>
                        <span>
                            Vice President of External Events <br>
                            xxx@andrew.cmu.edu <br>
                        </span>
                    </div>
                </div>
            </div> 
    </div>

    <script>
        $( document ).ready(function() {
            $("ul li:nth-child(4) > a").addClass('active');
        });
    </script>

{% endblock %}