{% extends "mainpage/base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="activities container-fluid">
        <div class="activity row">
            <div class="col-md-6 col-sm-6 col-xs-12 pic" style="padding: 0;background: rgb(226,171,68);">
                <img style=" margin:2em 0;" src="{% static 'mainpage/activities/latenight/image.png' %}">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 words">
                <p class="title"><strong>Chinese New Year Extravaganza</strong></p>
                <p class="description" style="overflow: hidden">
                    Celebrate the Chinese New Year with CSA and come out to the Late Night event in Cohan University Center.
                    We have prepared wonderful Chinese Dim-sum for free tasting and interesting small challenges.
                    You can watch student performances and win secret prizes by playing games.
                    Have an exciting start of the year of monkey on this Friday!
                </p>
                <p class="info">
                    <strong>Time:</strong> 19PM ~ 12AM, Feb 5, 2016 <br>
                    <strong>Location:</strong> Cohan University Center 1st Floor + Conan Room
                </p>
                <p class="link"><a href="">Upcoming</a></p>
            </div>
        </div>
        <div class="activity row">
            <div class="col-md-6 col-sm-6 col-xs-12 pic" style="padding: 0;">
                <img style="margin: -23% 0;" src="{% static 'mainpage/activities/skitrip.png' %}">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 words">
                <p class="title"><strong>Ski Trip 2016</strong></p>
                <p class="description" style="overflow: hidden">
                    Stay tuned to the most appreciated CSA activity – CSA Ski Trip!
                    Join your friends and spend the long weekend in the first week of spring semester 2016.
                    No ski experience required. You can always learn as you go and sign up optional practices.
                    CSA have reserved the largest cabin in the Seven Springs Mountain Resort to provide
                    the best experience you can ever imagine. Enjoy the skiing in the morning and gathering
                    in the evening to celebrate the new semester!
                </p>
                <p class="info">
                    <strong>Time:</strong> Jan 16 - Jan 18, 2015 <br>
                    <strong>Location:</strong> Seven Springs, PA
                </p>
                <p class="link"><a href="{% url 'mainpage:specific' %}">Learn More</a></p>
            </div>
        </div>
    </div>

    <script>
        $( document ).ready(function() {
            $("ul li:nth-child(2) > a").addClass('active');
        });
    </script>

{% endblock %}