{% extends "mainpage/base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="activity-specific">
        <div class="title">
            <h1 style="text-align:left"> Ski Trip 2016</h1>
            <p>
                Stay tuned to the most appreciated CSA activity – CSA Ski Trip!
                Join your friends and spend the long weekend in the first week of spring semester 2016.
                No ski experience required. You can always learn as you go and sign up optional practices.
                CSA have reserved the largest cabin in the Seven Springs Mountain Resort to provide
                the best experience you can ever imagine. Enjoy the skiing in the morning and gathering
                in the evening to celebrate the new semester!
            </p>


        </div>
        <div class="infomation">
            <p><strong>Time</strong>: Jan 16 - Jan 18, 2015</p>
                
            <p><strong>Location</strong>: Seven Springs, PA</p>

            <p><strong>Purchase Ticket</strong>: Sold out</p>
        </div> 
        <div class="container-fluid" style="background-color:white">
            <div class="members row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="member">
                        <img class="activity_image" src="{% static 'mainpage/activities/skitrip/IMG_0760.JPG' %}">
                    </div>    
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="member">
                        <img class="activity_image" src="{% static 'mainpage/activities/skitrip/IMG_0766.JPG' %}">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="member">
                        <img class="activity_image" src="{% static 'mainpage/activities/skitrip/IMG_0775.JPG' %}">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="member">
                        <img class="activity_image" src="{% static 'mainpage/activities/skitrip/IMG_0777.JPG' %}">
                    </div>
                </div>    
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="member">
                        <img class="activity_image" src="{% static 'mainpage/activities/skitrip/IMG_0763.JPG' %}">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="member">
                        <img class="activity_image" src="{% static 'mainpage/activities/skitrip/IMG_0741.JPG' %}">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="member">
                        <img class="activity_image" src="{% static 'mainpage/activities/skitrip/IMG_0742.JPG' %}">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="member">
                        <img class="activity_image" src="{% static 'mainpage/activities/skitrip/IMG_0745.JPG' %}">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="member">
                        <img class="activity_image" src="{% static 'mainpage/activities/skitrip/IMG_0747.JPG' %}">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="member">
                        <img class="activity_image" src="{% static 'mainpage/activities/skitrip/IMG_0748.JPG' %}">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="member">
                        <img class="activity_image" src="{% static 'mainpage/activities/skitrip/IMG_0756.JPG' %}">
                    </div>
                </div>
                
            </div>
        </div>           
    </div>

    <script>
        $( document ).ready(function() {
            $("ul li:nth-child(2) > a").addClass('active');
        });
    </script>

{% endblock %}