<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMU CSA</title>

    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/style.css' %}" />
</head>
<body>

    {% block navbar %}

        {% include "mainpage/navbar.html" %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    <!-- a spining logo for fun -->
    <script src="https://assets-te.famo.us/embed/embed.js"></script>
    <div class="famous-container" data-famous-container-identifier="f4fd7fd9-cd90-4381-97c9-032b3ed9c482"></div>

    {% include "mainpage/footer.html" %}

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>