<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMU CSA</title>

    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/style.css' %}" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
</head>
<body>
    <div class="base-container">
        <div class="csa-content">
        {% block navbar %}

            {% include "mainpage/navbar.html" %}

        {% endblock %}

        <!-- a spining logo for fun -->
        <!-- <script src="https://assets-te.famo.us/embed/embed.js"></script> >
        <div class="famous-container" data-famous-container-identifier="f4fd7fd9-cd90-4381-97c9-032b3ed9c482"></div>
        -->

        {% block content %}

        {% endblock %}

        {% include "mainpage/footer.html" %}

        </div>

        <div class="wrapper">
            <div class ="csa-side-menu" id="side-menu-collapse">
              <ul>
                <li><a href="{% url 'mainpage:home' %}">Home</a></li>
                <li><a href="{% url 'mainpage:activities' %}">Activities</a></li>
                <li href="{% url 'mainpage:aboutus' %}"><a href="{% url 'mainpage:aboutus' %}">About Us</a></li>
              </ul>
            </div>
        </div>  
    </div>    
    <!-- Latest compiled and minified JavaScript -->
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'mainpage/home.js' %}"></script>
    <script src="{% static 'mainpage/app.js' %}"></script>

</body>
</html>