<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CMU CSA</title>
</head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'mainpage/style.css' %}" />
<body>

{% block navbar %}

    {% include "mainpage/navbar.html" %}

{% endblock %}

{% block content %}

{% endblock %}

<script src="https://assets-te.famo.us/embed/embed.js"></script>
<div class="famous-container" data-famous-container-identifier="f4fd7fd9-cd90-4381-97c9-032b3ed9c482"></div>

{% include "mainpage/footer.html" %}

</body>
</html>