{% extends "mainpage/base.html" %}

{% block content %}
    <div class="container-fluid contact" style =>

        <div>
          <p><strong>Email</strong>: XXX@andrew.cmu.edu</p>
          <p><strong>Phone</strong>: (412) XXX-XXXX</p>
          <p><strong>Email</strong>: 5032 Forbes Avenue, Pittsburgh, PA 15289</p>
        </div>
        <div>
          
            <input type="email" name="email" placeholder ="Enter your email address here"><br>
            <textarea name="comment" placeholder="Enter your message here" rows="7" style="width: 590px"></textarea><br>
            <button class="button" >Send</button>
          
      
        </div>
    </div>
    <script>
     $( document ).ready(function() {
      $("ul li:nth-child(5) > a").addClass('active');
       /* $('li > a').first().addClass('active');*/
     });
    </script>

{% endblock %}


