{% extends "mainpage/base.html" %}

{% block content %}

    <div class="jumbotron" style ="padding:50px; padding-top:80px">
        <div>
          <p><strong>Email</strong>: XXX@andrew.cmu.edu<p>
          <p><strong>Phone</strong>: (412) XXX-XXXX<p>
          <p><strong>Email</strong>: 5032 Forbes Avenue, Pittsburgh, PA 15289<p>
        </div>
        <div>
          <form>
            <input type="email" placeholder ="Enter your email address here"><br>
            <textarea name="comment" placeholder="Enter your message here" rows="7" cols="56"></textarea><br>
            <input class="button" type="submit" value="Send">
          </form>

        </div>
    </div>

    <script>
     $( document ).ready(function() {
      $("ul li:nth-child(5) > a").addClass('active');
       /* $('li > a').first().addClass('active');*/
     });
    </script>

{% endblock %}


