{% load staticfiles %}

<footer class="footer">
    <div class="contact-info">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-5 hidden-xs">
            <p><a href="{% url 'mainpage:home' %}">Home</a></p>
            <p><a href="{% url 'mainpage:activities' %}">Activities</a></p>
            <p><a href="{% url 'mainpage:aboutus' %}">About us</a></p>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-5 col-xs-12">
            <p>Locations: <br>
                5032 Forbes Avenue, Carnegie Mellon University <br>
                Pittsburgh, PA, 15289</p>
            <p>E-mail: <br>
                qcai@andrew.cmu.edu</p>
          </div>
       </div>   
    </div>
    <div class="copy-right">
        <p>Terms & Conditions and Privacy Policy <br>
            <span style="color:darkgray">© Carnegie Mellon University Chinese Student Association.
                    All Right Reserved</span></p>
    </div>
</footer>


