{% load staticfiles %}

<div class="footer">
	<div class="contact-info">
      <div class="fixed">
      	<a href="#">Activities</a>
      	<br>
      	<a href="#">Resources</a>
      	<br>
      	<a href="#">About us</a>
      	<br>
      	<a href="#">Contact us</a>
      </div>
      <div class="flex-item">
      	<p>Locations:</p>
      	<p>5032 Forbes Avenue, Carnegie Mellomn University</p>
      	<p>Pittsburgh, PA, 15289</p>
      	<p>E-mail:</p>
      	<p>xxx@andrew.cmu.edu</p>
      	<p>Phone:</p>
      	<p>(412)-xxx-xxx</p>
      </div>
    </div>
    <div class="copy-right">
      	<p>Terms & Conditions and Privacy Policy</p>
      	<p>Copyright | Carnegie Mellon University Chinese Student Association. All Right Reserved</p>
      </div>
</div>	

