{% extends "mainpage/base.html" %}
{% load staticfiles %}

{% block content %}


    <div >
        <img  style ="width:100%" src="{%static 'mainpage/home/home_big_1.JPG' %}">
    </div>

    <div style = "text-align:center; padding-left:100px; padding-right:100px">
        <h3 style ="padding:50px;"> WHO WE ARE </h3>
        <p>aksdhakjshdkajshdkajshdakjsdhkjhaskdjhakjshdkajshd</p>
    </div>

    <div id="corridor" style ="height:300px; width:100%">
  
    </div>

    <div class="container-fluid white">
        <h3 class="title">WHAT WE DO</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="icon">
                    <img src="{% static 'mainpage/home/icon2.png' %}">
                </div>
                <h4>Connect Students</h4>

            </div>
            <div class="col-md-4">
                 <div class="icon">
                     <img src="{% static 'mainpage/home/icon1.png' %}">
                 </div>
                <h4>Share Resources</h4>
            </div>
            <div class="col-md-4">
                <div class="icon">
                    <img src="{% static 'mainpage/home/icon3.png' %}">
                </div>
                <h4>Provide the Latest Feed</h4>
            </div>

        </div>
    </div>
    <div></div>


    <script>
        $( document ).ready(function() {
            $("ul li:nth-child(1) > a").addClass('active');
        });
    </script>

{% endblock %}
